.containerMobile {
  display: none;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
   display: flex;
  align-items: center;
  justify-content: center;
  
}

.subContainer {
  display: flex;
  height: 100%;
  align-content: center;
  justify-content: center;
  width: 80%;
margin: auto;
}

.card {
  display: flex;
  cursor: pointer;
}

.cardLink{
  display: flex;
}

.cardLinkMobile {
  display: none;
}

.titleWrap {
  align-items: center;
  padding: 10px;
}

.title {
  writing-mode: vertical-lr;
  letter-spacing: 35px;
  justify-self: center;
  padding-right: 5px;
  text-transform: uppercase;
}

.title:hover {
  background-color: lawngreen;
}

.imageWrap {
  min-height: 100%;
  width: 10vw;
  overflow: hidden;
  position: relative;
}

.vertical {
  writing-mode: vertical-lr;
  font-size: 3.5rem;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
  position: absolute;
  top: 30vh;
  right: -1rem;
}


.tabWrapper {
  background-color: black;
  color: white;
  display: flex;
  padding: 1rem;
  padding-right: 2rem;
}

.tabWrapper:hover {
  background-color: white;
  color: black;
}

.tabsMobile {
  display: none;
}

@media only screen and (max-width: 650px){
  .container {
    display: none;
  }

  .containerMobile {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 95vh;
    justify-content: space-between;
    margin: 0 auto;
    overflow: hidden;
  }

  .subContainerMobile {
    text-align: center;
  }

.cardLink{
  display: none;
}

.cardLinkMobile {
display: flex;

}

.cardImageMobile {
  max-height: 50vh;
  
}

.titleMobile {
  background-color: lawngreen;
  position: absolute;
  z-index: 2;
  left: 10vw;
  font-size: 3vw;
  letter-spacing: 10px;
  text-transform: uppercase;
}

  .imageWrapMobile {
  width: 100%;
  left: 0vw;  
  height: 20vh;
  overflow: hidden;
}

.tabs {
  display:none;
}

.tabsMobile {
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 1vh;
}


.tabWrapper {
  background-color: transparent;
  color:  black;
  display: flex;
  padding: 5px;
}

.tabWrapper:hover {
  background-color: transparent;
  color: black;
}


}

@media only screen and (max-height: 380px){
  .container {
    display: none;
  }

  .containerMobile {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
    align-items: flex-start;
    overflow: hidden;
    text-align: center;
  }

  .subContainerMobile {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: center;
  }

  .nameMobile {
    min-width: 100vw;
  }

.cardLink{
  display: none;
}

.cardLinkMobile {
display: block;
width: 23vw;
height: 15vw;
overflow: hidden;
}


.titleMobile {
  background-color: lawngreen;
  position: absolute;
  z-index: 2;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.3rem;
    
}

  .imageWrapMobile {
  max-width: 25vw;
  min-height: 70vh;
  left: 0vw;  
  height: 70vh;
  overflow: hidden;
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: fit-content;
  position: absolute;
  top: 78vh;
  right: 30vw;
}


.tabWrapper {
  background-color: black;
  color: white;
  display: flex;
  margin-top: 8px;
  padding: 1rem;
  padding-right: 1rem;
  transform: scale(0.7);
}

.tabWrapper:hover {
  background-color: white;
  color: black;
}

.tabsMobile {
  display: none;
}


}