.navUl {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.linkItem,
.linkItemIcon,
.linkItemIcon:hover {
  margin: 0 1rem;
  cursor: pointer;
}

.linkItem:hover {
  background-color: lawngreen;
}

.mobileNavBurger {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 1000px){
    .navUl{
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 750px) {
  .desktopNav {
    display: none;
  }

  .mobileNavBurger {
    display: block;
    align-self: center;
    height: 24px;
    width: 24px;
  }

  .navUl {
      margin-top: 4rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    align-items: flex-end;
    letter-spacing: 2.5vw;
    min-width: 100vw;
    min-height: 80vh;

    font-size: 4vw;
  }

  .hidden {
  display: none;
}

.close {
    position: absolute;
    right: 2rem;
    top: 1.1rem;
    cursor: pointer;
}
}
